<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fila</th>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ nombre }}</td>
        <td>UpperCase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>{{ nombre }}</td>
          <td>LoweCase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{nombre}}</td>
        <td>Slice : 3</td>   
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{nombre}}</td>
        <td>Slice : 0 : 3</td>   
        <td>{{nombre | slice:0:3}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{array}}</td>
        <td>Slice : 1 : 5</td>   
        <td>{{array | slice:1:5}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{PI}}</td>
        <td>Number:'3.0-0'</td>   
        <td>{{PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{PI}}</td>
        <td>Number:'1.0-2'</td>   
        <td>{{PI | number:'1.0-2'}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{a}}</td>
        <td>Percent</td>   
        <td>{{a | percent}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{a}}</td>
        <td>Percent:'2.2-2'</td>   
        <td>{{a | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{salario}}</td>
        <td>Currency</td>   
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>{{salario}}</td>
        <td>Currency:'EUR'</td>   
        <td>{{salario | currency:'EUR'}}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{salario}}</td>
        <td>Currency:'EUR':true</td>   
        <td>{{salario | currency:'EUR':true}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{salario}}</td>
        <td>Currency:'EUR':true:'4.0-0'</td>   
        <td>{{salario | currency:'EUR':true:'4.0-0'}}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>{{salario}}</td>
        <td>Number:'.0-2'</td>   
        <td>{{salario | number:'.0-2'}}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>{{valorPromesa}}</td>
        <td>Async</td>   
        <td>{{valorPromesa | async}}</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>{{fecha}}</td>
        <td>Date</td>   
        <td>{{fecha | date}}</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>{{fecha}}</td>
        <td>Date:'medium'</td>   
        <td>{{fecha | date:'medium'}}</td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>{{fecha}}</td>
        <td>Date:'MMMM - dd'</td>   
        <td>{{fecha | date:'MMMM - dd'}}</td>
      </tr>
    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of array | slice:5:20">{{ item }}</li>
  </ul>

  <h4>JSON</h4>
  <pre>
    {{heroe | json}}
  </pre>
</div>
